/* bags fantasy football... */
body {
    font-family: 'Questrial', sans-serif;
}

#pickArea {
    Background: black;
}

#menuArea {
    background: linear-gradient(black,#383838);
}

#tableBG {
    background: #383838;
    margin-bottom: 950px;
}

@media only screen and (max-width: 1000px) {
    #tableBG {
      margin-bottom: 0px;
    }
  }

#playerPrice, #playerSelect, #clubSelect, #positionSelect, #managerSelect, #nameSelect {
    width: 100%;
}

/* stats area */
#hiddenFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 950px;
    z-index: -1;
    background-color: black;
}

@media only screen and (max-width: 1000px) {
    #hiddenFooter {
      display: none;
    }
}

.theme {
    color: #ff2a68;
}

/* no longer required */
.themeBorder {
    border: 3px solid #ff2a68;
}

/* play with text animation */

@keyframes fadeIn {
   0% {
       opacity: 0;
   } 
   100% {
       opacity: 1;
   }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
 }

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 2s;
}

.shirtHeight{
    height:75px;
}

/* teams fade in */
.fadeInA {
    animation-name: fadeIn;
    animation-duration: 4s;
}

@keyframes logoSlideIn {
    0% {
        transform:translateX(-300px)
    } 10% {
        transform:rotate(1deg)
    }
    50% {
        transform:rotate(360deg)
    }
    100% {
        
        transform:translateX(0px)
    }
}

.logoSlideInTrial {
    animation-name: logoSlideIn;
    animation-duration: 4s;
}

@keyframes play {
    0% {
        transform: skew(90deg,90deg)
    } 100% {
        transform: skew(0deg,0deg)
    }
}

.play {
    z-index: 2;
    animation-name: play;
    animation-duration: 1.5s;
}
